doctype html
html
  head
    title glitch.plus
    meta(charset='utf-8')
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Space+Mono')
    link(rel='stylesheet', href='/css/shared.css' + version.cache)
    link(rel='stylesheet', href='/css/main.css' + version.cache)

  body
    #wrapper
    header please install espeak
    block content

    block scripts